<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>

    <div class="ion-text-center" style="margin-top: 20%">
      <h1><span style="font-weight: 300;">Welcome</span> <br>
        MyRecipe App</h1>
    </div>
    <br><br><br>
    <ion-row>
      <ion-col size="12">
        <ion-button mode="ios" (click)="addNewRecipe()" expand="block" color="medium" expand="full">
          Add New Recipe
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button mode="ios" (click)="openRecipeList()" expand="block" color="warning" expand="full">
          Recipe List
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>