.square-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  /* Set the height based on the width to create a square shape */
  position: relative;
  overflow: hidden;
}

.square-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Prevent the image from stretching and maintain aspect ratio */
}

.checked .checkbox-label {
  text-decoration: line-through;
}

// p {
//   padding-bottom: 0;
// }
